/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
}

.guest-home-main {
    border: 2px solid black;
    height: 80%;
    display: flex;
    justify-content: center;
}

.login-main {
    border: 2px solid black;
    height: 400px;
    width: 600px;
    margin: 75px auto 100px auto;
    /* display: flex;
    justify-content: center; */
}

.user-home-main {
    border: 2px solid black;
    padding: 10px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    background-color: darkmagenta;
}

.user-media-main {
    border: 2px solid black;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

.search-main {
    border: 2px solid black;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkmagenta;
}

a {
    text-decoration: none;
}

.card-display {
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General Classes */

.hover-scale:hover {
    transform: scale(1.25);
}