/* @tailwind base; */
@tailwind components;
@tailwind utilities;

#root {
    min-height: 100vh;
}

.guest-home-main {
    border: 2px solid black;
    height: 80%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}